<html>
        <head>
                <title>George's blog</title>
        </head>
        <body>
                <div>
                        <h1><a href="">Django Girls Blog</a></h1>
                </div>
                <div>
                        <p>published: 24.06.2017, 7:42</p>
                        <h2><a href="">My first post</a></h2>
                        <p>
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use.

                        
                        </p>
                </div>

                <div>
                        <p>published: 24.06.2017, 7:42</p>
                        <h2><a href="">My second post</a></h2>
                        <p>
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use.

                        
                        </p>
                </div>


                
        </body>
</html>
